.top-bar {
    background-color: #ebebec;
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
    height: 100px;
    display: flex;
    justify-content: center;
}

.top-bar-bottom {
    background-color: #2684fc;
    height: 40px;
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
}


.main-logo {
    width: 80px;
    height: 80px;
    display: flex;
    padding-top: 10px;
}
.chat-bar {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: #00142e;
    height: 120px;
    width: 100%;
    color: black;
    font-family: "Poppins", sans-serif;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}


#message-input {
    font-size: 18px;
    margin: 0;
    width: 700px;
}

#send-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 15px;
    font-size: 16px;
    cursor: pointer;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
    scale: 72%;
}

.text-display {
    color: white;
    background-color: rgb(0, 0, 0);
    height: 400px;
    max-height: 400px;
    width: 100%;
    font-family: "Poppins", sans-serif;
    justify-content: center;
    align-items: center;
    overflow-y: auto;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

.server-list {
    position: fixed;
    top: 0;
    right: 0;
    background-color: #f4f4f4;
    color: black;
    padding: 10px;
    margin: 0;
    border-radius: 5px 0 0 5px;
    width: 200px;
    height: 100vh;
    box-shadow: -2px 0 8px rgba(0,0,0,0.08);
    z-index: 1000;
}

.users-list ul {
    padding: 0;
}